## *Task 1- Lists*

In [1]:
#  Create a list to store the range of values between 10 and 25, assign it to a variable called my_list.

my_list = list(range(10,25))

In [2]:
# Print the contents my_list.

print(my_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [3]:
# Print the contents of my_list in reverse using index slicing.

my_list = list(range(10, 26))

print(my_list[::-1])

[25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

In [4]:
# Print the contents of my_list in reverse using a loop.

my_list = list(range(10, 26))

# Using a for loop to iterate in reverse

for i in range(len(my_list) - 1, -1, -1):
    print(my_list[i], end=" ")

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10

In [5]:
#  Append the following list [11, 19, 26] to my_list. Note the difference between the extend and append methods.

my_list = list(range(10, 26))

my_list.append([11, 19, 26])  
print(my_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, [11, 19, 26]]

In [6]:
my_list = list(range(10, 26))

my_list.extend([11, 19, 26])  
print(my_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 11, 19, 26]

In [21]:
# Extend my_list with 10 random integers.

import random

my_list = list(range(10, 26))


random_numbers = [random.randint(1, 50) for _ in range(10)]


my_list.extend(random_numbers)

print(my_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 4, 41, 47, 23, 23, 36, 39, 44, 2, 4]

In [22]:
# Store the last number in the list in a variable called last_val and remove that value from my_list.

last_val = my_list.pop()


print("Updated my_list:", my_list)
print("Removed last value:", last_val)

Updated my_list: [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 4, 41, 47, 23, 23, 36, 39, 44, 2]
Removed last value: 4

In [25]:
# Convert my_list to a set named my_set. Try to extract the second element in the set using indexing. Does it work? If not, why not?

my_set = set(my_list)


try:
    second_element = my_set[1]  
    print("Second element:", second_element)
    
except TypeError as e:
    print("Error:", e)

Error: 'set' object is not subscriptable

### *Why?*

### Sets are unordered collections, It means the elements are not stored in a fixed sequence.
### Since sets don’t maintain order, there’s no concept of "second" element.

In [24]:
second_element = list(my_set)[1]  # Convert set to list and get second element
print("Second element:", second_element)

Second element: 4

In [26]:
# Convert my_list to a tuple named my_tuple. Assign the value 5 to the fourth element in the tuple? Does it work? If not, why not?

my_tuple = tuple(my_list)

try:
    my_tuple[3] = 5 
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

### *Why?*

### Tuples are immutable, it means their elements cannot be changed, added, or removed after creation.

In [27]:
temp_list = list(my_tuple)  
temp_list[3] = 5           

my_tuple = tuple(temp_list) 

print(my_tuple)

(10, 11, 12, 5, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 4, 41, 47, 23, 23, 36, 39, 44, 2)

## *Task 2- Dictionaries*

In [28]:
# Create an empty dictionary object called my_dict

my_dict = dict()
print(my_dict)

{}

In [35]:
# Using a loop construct, add an entry to my_dict for each value in my_list. 
# The keys for entries in my_dict should be the English-language representation of integer values in my_list.
# Note: to convert numberstotheir English-language representation, you will need to install a module named inflect. 
# You can do this by adding the following code to a cell in your notebook:

import inflect

# Initialize inflect engine

p = inflect.engine()

# Sample list of numbers

my_list = list(range(10, 26)) 

# Create an empty dictionary

my_dict = {}

# Using a loop to add entries to the dictionary

for num in my_list:
    word_representation = p.number_to_words(num)  # Convert number to words
    my_dict[word_representation] = num  # Add entry to dictionary

# Print the dictionary

print(my_dict)

{'ten': 10, 'eleven': 11, 'twelve': 12, 'thirteen': 13, 'fourteen': 14, 'fifteen': 15, 'sixteen': 16, 'seventeen': 17, 'eighteen': 18, 'nineteen': 19, 'twenty': 20, 'twenty-one': 21, 'twenty-two': 22, 'twenty-three': 23, 'twenty-four': 24, 'twenty-five': 25}

## *Task 3- Loops*