### Exercise 1: Convert the following dictionary into JSON format

### data = {"key1" : "value1", "key2" : "value2"}

In [1]:
import json

data = {"key1": "value1", "key2": "value2"}
json_data = json.dumps(data)

print(json_data)

{"key1": "value1", "key2": "value2"}

### Exercise 2: Access the value of key2 from the following JSON

### import json
### sample JSON = """{"key1": "value1", "key2": "value2"}"""

### write code to print the value of key2

In [2]:
import json

sampleJson = """{"key1": "value1", "key2": "value2"}"""
data = json.loads(sampleJson) 

print(data["key2"])

value2

### Exercise 3: PrettyPrint following JSON data

### PrettyPrint following JSON data with indent level 2 and key value separators should be (",", " = ").

### sampleJson = {"key1": "value1", "key2": "value2"}

In [3]:
import json

sampleJson = {"key1": "value1", "key2": "value2"}

pretty_json = json.dumps(sampleJson, indent=2, separators=(",", " = "))

print(pretty_json)

{
  "key1" = "value1",
  "key2" = "value2"
}

### Exercise 4: Sort JSON keys in and write them into a file

### Sort following JSON data alphabetical order of keys

### sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

In [4]:
import json

sampleJson = {"id": 1, "name": "value2", "age": 29}


sorted_json = json.dumps(sampleJson, indent=2, sort_keys=True)


with open("sorted_data.json", "w") as file:
    file.write(sorted_json)


print(sorted_json)

{
  "age": 29,
  "id": 1,
  "name": "value2"
}

### Exercise 5: Access the nested key ‘salary’ from the following JSON

import json

sampleJson = """{ 
   "company":{ 
      "employee":{ 
         "name":"emma",
         "payble":{ 
            "salary":7000,
            "bonus":800
         }
      }
   }
}"""

### write code to print the value of salary

In [5]:
import json

sampleJson = """{ 
   "company":{ 
      "employee":{ 
         "name":"emma",
         "payble":{ 
            "salary":7000,
            "bonus":800
         }
      }
   }
}"""


data = json.loads(sampleJson)

salary = data["company"]["employee"]["payble"]["salary"]

print(salary)

7000

### Exercise 6: Convert the following Vehicle Object into JSON

import json

class Vehicle:
    def __init__(self, name, engine, price):
        self.name = name
        self.engine = engine
        self.price = price

vehicle = Vehicle("Toyota Rav4", "2.5L", 32000)

### Convert it into JSON format

In [6]:
import json

class Vehicle:
    def __init__(self, name, engine, price):
        self.name = name
        self.engine = engine
        self.price = price


vehicle = Vehicle("Toyota Rav4", "2.5L", 32000)


vehicle_json = json.dumps(vehicle.__dict__, indent=2)


print(vehicle_json)

{
  "name": "Toyota Rav4",
  "engine": "2.5L",
  "price": 32000
}

### Exercise 7: Convert the following JSON into Vehicle Object

{ "name": "Toyota Rav4", "engine": "2.5L", "price": 32000 }

### For example, we should be able to access Vehicle Object using the dot operator like this.

vehicleObj.name, vehicleObj.engine, vehicleObj.price

In [7]:
import json

class Vehicle:
    def __init__(self, name, engine, price):
        self.name = name
        self.engine = engine
        self.price = price


vehicle_json = '{ "name": "Toyota Rav4", "engine": "2.5L", "price": 32000 }'


vehicle_dict = json.loads(vehicle_json)


vehicleObj = Vehicle(**vehicle_dict)


print(vehicleObj.name)   
print(vehicleObj.engine) 
print(vehicleObj.price)

Toyota Rav4
2.5L
32000

### Exercise 8: Check whether following json is valid or invalid. If Invalid correct it

{ 
   "company":{ 
      "employee":{ 
         "name":"emma",
         "payble":{ 
            "salary":7000
            "bonus":800
         }
      }
   }
}

In [8]:
# The given JSON is invalid because there is a missing comma (,) between "salary":7000 and "bonus":800.

{ 
   "company":{ 
      "employee":{ 
         "name":"emma",
         "payble":{ 
            "salary":7000,
            "bonus":800
         }
      }
   }
}

{'company': {'employee': {'name': 'emma',
   'payble': {'salary': 7000, 'bonus': 800}}}}

### Exercise 9: Parse the following JSON to get all the values of a key ‘name’ within an array

[ 
   { 
      "id":1,
      "name":"name1",
      "color":[ 
         "red",
         "green"
      ]
   },
   { 
      "id":2,
      "name":"name2",
      "color":[ 
         "pink",
         "yellow"
      ]
   }
]

In [10]:
import json

json_data = '''[ 
   { 
      "id":1,
      "name":"name1",
      "color":[ 
         "red",
         "green"
      ]
   },
   { 
      "id":2,
      "name":"name2",
      "color":[ 
         "pink",
         "yellow"
      ]
   }
]'''

data = json.loads(json_data)

names = [item["name"] for item in data]

print(names)

['name1', 'name2']